<footer>
    <div class="conclusion">
        <div class="brand">
            <img class="title" src="/images/logo/Logo 2.png" alt="">
            <h4 class="punchline">Unveiling the Art of Storytelling on Screen!</h4>
            <div class="social">
                <a href="#"><img src="/images/facebook.png" alt=""></a>
                <a href="#"><img src="/images/instagram.png" alt=""></a>
                <a href="#"><img src="/images/twitter.png" alt=""></a>
            </div>
        </div>

        <div class="links 1">
            <a href="/" class="home">Home</a>
            <a href="/gallery" class="photos">Photos</a>
            <a href="/topPicks">Movies Of All Time</a>
            <a href="/about">About Us</a>
            <a href="/newsletter" class="newsletter">Email Newsletter</a>
        </div>
    </div>
    <hr>
    <h4>Edifice. All Rights Reserved.</h4>
</footer>