<!-- NAVBAR -->
<navbar>
    <a href="/"><img src= "/images/logo/Logo 2.png" class="logoImg" alt=""></a>
    
    <div class="menu">
        <div class="navItems">
            <a href="/" class="home">Home</a>
            <a href="/gallery" class="photos">Photos</a>
            <a href="/topPicks" class="moviesList">Movies Of All Time</a>
            <a href="/about">About Us</a>
            <a href="/newsletter" class="newsletter">Email Newsletter</a>
        </div>
    </div>
    <div class="toggle"></div>
</navbar>

<div class="nav-bg"></div>