.imdb-link {
    text-decoration: none;
    border: none;
}

.card {
    margin: 0px 30px 50px 0px;
    /* height: 725px; */
    border: none;
    transition: 1s;
    cursor: pointer;
}

/* .card.bg-light {
    transform: scale(1.03);
} */

.content-rating {
    transition: 1s;
}

.card.bg-dark .content-rating {
    background-color: #a8a8a8;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 10px;
    border-radius: 8px;
    width: fit-content;
}

.card.bg-light .content-rating {
    background-color: #1a1a1a;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 10px;
    border-radius: 8px;
    width: fit-content;
}

p .imdb-logo {
    height: auto;
    width: 50px;
}

.card-img-top {
    height: 300px;
    width: auto;
    object-fit: cover;

    transition: 1.5s;
}

.card.bg-light .card-img-top {
    height: 340px;
    /* transform: scaleY(1.1); */

}

.card-text.director {
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    font-family: 'Cormorant', serif;
}

.genres {
    display: flex;
    margin-bottom: 15px;
}

.genres .genre-badge {
    font-size: 13px;
    font-weight: 300;
    margin-right: 8px;
    background-color: #81b8ef;
    color: #111;
    border-radius: 5px;
    padding: 3px 7px;
}

.movie-rating {
    background-color: #f6c700;
    border-radius: 10px;
    padding: 5px 0 5px 10px;
    width: 125px;
    height: auto;
    color: #001220;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.movie-rating .imdb-logo {
    height: auto;
    width: 50px;
}

.card-text {
    text-align: justify;
    text-justify: inter-word;
}


/* SEARCH BAR */
.container1 {
    display: flex;
    justify-content: end;

    margin: 20px auto 40px auto;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: baseline;
}

.search-bar h5 {
    color: #fff;
    margin-right: 20px;
}

.search-bar form {
    width: 17em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-inline: 2px solid #f6c700;
    border-radius: 4px;
    background-color: #fff;
}

.search-bar input {
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 36px;
    padding: 4px 6px;
    margin-right: 10px;

    transition: 1s;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    border: none;
    border-radius: 2px;
    padding: 6px 20px;

}

.search-bar button .fa-solid {
    transition: 1s;
}

.search-bar button:hover .fa-solid{
    transform: scale(1.2);
}
