* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */ 
}

body {
    background-color: #001220;
}

.top-movies-heading {
    color: #fff ; 
    text-align: center;
    margin-bottom: 40px;

}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}